# PyTorch
torch>=2.0.0

# Hugging Face Transformers
transformers>=4.50.0

# Data handling
pandas>=2.0.0
numpy>=1.25.0
scikit-learn>=1.3.0

# Visualization
matplotlib>=3.8.0
seaborn>=0.12.0

# PyTorch with CUDA 11.8
torch==2.2.0+cu118
torchvision==0.15.2+cu118
torchaudio==2.2.2+cu118
-f https://download.pytorch.org/whl/cu118/torch_stable.html

# Hugging Face and NLP packages
transformers>=4.40.0
datasets>=2.14.0
accelerate>=0.24.0

# Data and ML utilities
pandas>=2.0.3
numpy>=1.27.0
scikit-learn>=1.3.0
matplotlib>=3.8.0
seaborn>=0.13.2



#Instructions for setting up the environment in rivanna
#At the command line:
#python -m venv dl_env       # create a new virtual environment
#source dl_env/bin/activate  # activate it
#pip install -r requirements.txt
# or if that doesn't work you can install dependencies like this
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 transformers datasets accelerate pandas numpy scikit-learn matplotlib seaborn

#I think that is everything, I would recommend trying to run the Bert model and see if there are any missing packages
# Once it is set up, to navigate back to the env just use source dl_env/bin/activate at the CLI re-enter the environment later

# To run just the first BERT model
# python -m torch.distributed.run --nproc_per_node=4 run_training.py
# To run all the models
# python -m torch.distributed.run --nproc_per_node=4 train_all_models.py


